node_modules
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
logs
*.log
.git
.gitignore
README.md
.vscode
.idea
.DS_Store
coverage
.nyc_output
dist
build
test
*.test.js
.prettierrc
.prettierignore
.eslintrc
.eslintignore
Dockerfile
.dockerignore
docker-compose.yml
